
<div class="signup-newsletter-form row no-gutters pr oh" style="border-radius: 0;border: none; padding: 0;">
    <input type="text" id="YQNum" maxlength="50" class="col-8 tl class_ip input-text" style="border-radius: 0;" />
    <input type="button" value="TRACK" onclick="doTrack()" class="submit-btn col-4" style="border-radius: 0;"/>
</div>
<div id="YQContainer"></div>

<script type="text/javascript" src="//www.17track.net/externalcall.js"></script>
<script type="text/javascript">
function doTrack() {
    var num = document.getElementById("YQNum").value;
    if(num===""){
        alert("Enter your number."); 
        return;
    }
    YQV5.trackSingle({
        YQ_ContainerId:"YQContainer",
        YQ_Height:560,
        YQ_Fc:"0",
        YQ_Lang:"en",
        YQ_Num:num
    });
}
</script>