{%- liquid
  assign sid = section.id
  assign se_stts = section.settings -%}
  
<div class="nt_se_{{sid}} {{se_stts.layout}}">
  {%- render 'section_title' -%}
  <div class="nt_banner_holder row fl_center"> 
    <div class="placeholder">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- else -%}
            
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{%- render 'section_css' -%}


{%- schema -%}
  {
    "name": "Blank",
    "class": "nt_section type_banner2 type_packery discounts",
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Text"
      },
      {
        "type": "select",
        "id": "sub_font",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "Body font"
          },
          {
            "value": "2",
            "label": "Sub title font"
          }
        ],
        "label": "Sub Text use font:"
      },
      {
        "type": "select",
        "id": "style_title",
        "options": [
          {
            "value": "title_1",
            "label": "Style 1"
          },
          {
            "value": "title_2",
            "label": "Style 2"
          },
          {
            "value": "title_3",
            "label": "Style 3"
          },
          {
            "value": "title_4",
            "label": "Style 4"
          },
          {
            "value": "title_5 lazyloadt4s",
            "label": "Style 5"
          },
          {
            "value": "title_6",
            "label": "Style 6"
          },
          {
            "value": "title_7 +la",
            "label": "Style 7 (with line-awesome)"
          }
        ],
        "label": "Style title"
      },
      {
        "type": "text",
        "id": "ic_tt",
        "label": "Style 7 icon line-awesome",
        "default": "gem"
      },
      {
        "type": "checkbox",
        "id": "show_clpr",
        "label": "Use icon color primary?",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "[Get icons Line awesome](https://icons8.com/line-awesome)"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "container",
            "label": "Container"
          },
          {
            "value": "nt_full",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "50px,,50px,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "50px,,50px,"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "presets": [
      {
        "name": "Blank",
        "category": "Others",
        "blocks": []
      }
    ]
  }
{% endschema %}
